a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.basket-item-link:hover {
  text-decoration: underline;
}

.basket-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.basket-item {
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.basket-item-product-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.basket-item-product-details img {
  align-self: start;
  height: 100%;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
}

.basket-item-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.basket-adjust {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.basket-adjust * {
  margin: 0.25rem;
}

.basket-adjust-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.qty {
  text-align: center;
  width: 2rem;
}

.basket-total {
  border-radius: 0.25rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 5vh 0;
}

.basket-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.basket-button svg {
  justify-self: flex-start;
}
.total-cost {
  font-weight: 600;
}

@media (max-width: 1366px) {
}

@media (max-width: 768px) {
  .basket-item-product-details {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .basket-item-cost {
    text-align: right;
  }

  .basket-button {
    margin: 0;
    height: 5rem;
    width: 25vw;
    text-align: center;
  }

  .basket-item-link {
    margin-top: 1rem;
  }
}
