.container-lg {
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  padding-bottom: 11vh;
  width: 90%;
  height: fit-content;
  background-color: white;
}

.container > * {
  margin: 1rem 0.25rem;
}

textarea {
  resize: none;
}
