.basket-popover {
  display: flex;
  justify-content: space-between;
}

.basket-popover div {
  margin: 0 0.5rem;
}

.bs-popover-bottom {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}
.basket-popover-total {
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-align: end;
}

.dropdown-menu {
  width: 100%;
}

.colorNav {
  background-color: #212529;
}

.popover {
  max-width: 100%;
  display: flex;
  text-align: center;
}

.nav-item .dropdown-menu {
  background: #212529;
  border: 0;
  box-shadow: inset 0px 0px 1px 1px #444444;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: rgb(71, 79, 87);
}
@media (max-width: 1200px) {
  .navbar {
    --bs-navbar-padding-y: 0;
  }
}
